*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
  background-color: hsl(0, 25%, 94%);
}
header{
    padding: 10px;
   
    

}
h1{
    text-align: center;
    color: red;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}
/*****flexbox******/
menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

 
}

/**********************************/
nav {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
   

}
/*******estilo al menu****/

a {
    
    padding: 17px 19px;
    text-decoration: none;
    color: white;
   padding: 10px 40px 10px 40px;
   box-shadow: 5px 5px blueviolet;
   background-color: black;
   border: 1px solid blue;
   border-radius: 15px;
   position: relative;
   margin-inline: 10px 10px;
   margin-block: 10px 10px;
   display:inline-block;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: space-around;
    background-color: #ccc;
  
    
   
}
#contenido > div {
    
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    gap: 10px;
  
}

.contenido{
    max-width: 1200px;
    border: 1px solid;
    border-radius: 16px;
    padding: 20px 70px 100px;
    margin: 5.3rem auto;
    position: relative;
}


img{
    width: 100%;
    
    display: flex;
    align-items:center;
    margin: 20px 20px;
    border: 1px solid rgb(62, 10, 250);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    box-shadow: 5px 3px 9px -1px #08f372;
}


iframe{

  width: 100%;
    
  display: flex;
  align-items:center;
  margin: 20px 20px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  box-shadow: 5px 3px 9px -1px #f50404;
}
/*********************************************/
/*********************************************/
/********************************************/
.box_1A {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;

    
  }
  .box_1A > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1A > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1A > h3{
    color: black;
  }

/**********************************************/


.box_1B {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1B > p{
     font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1B > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1B > h3{
    color: black;
  }

/************************************************/

.box_1C {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1C > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1C > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1C > h3, p{
    color: black;
  }

/*************************************************/

.box_1D {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1D > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1D > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1D > h3{
    color: black;
  }
  /*********************tabla****************************/
  .box_1D > table{
    width: 350px;
    margin: 50px;
    padding: 0px;
    font-size: 10px;
    
  }
  
  .box_1D > table{
    
    border-collapse: collapse;
    
  }

  .box_1D >th,td {
  border: 1px solid #0b2ce6;
  padding: 10px 15px;
}
  
 
.box_1D >th{
    text-align:center;
  }
  .box_1D >tr{
    text-align: left;
  }
 
  .box_1D >h2{
    text-align: center;
  }
/***************************************************/

.box_1E {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    
  }
  .box_1E > p{
    font-size: 12px;
     margin-left: 0%;
     color: black;
  }
  .box_1E > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1E > h3{
    color: black;
    text-align: center;
  }

/*************************************************/
  


.box_2 {
    color: rgb(95, 243, 26);
    /*background-color: chocolate;*/
    flex-basis: 80px;
}


.box_3 {
    color: rgb(230, 10, 101);
    /*background-color: cornflowerblue;*/
    flex-basis: 10px;
}

.box_4 {
    color: rgb(216, 52, 11);
    /*background-color:crimson;*/
    flex-basis: 50px;
    
}
/****************tabla************************/


  

  /**************************lista****************************/
  .ul, ol ,li {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 12px;
}
 li{
    color: black;
 }
.box_1D >table {
    
    padding: 30px 40px 40px 40px;
         
}

  

  /****************************************************/
  /***************************************************/
  /***************************************************/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

section{
    max-width: 1200px;
    border: 1px solid;
    border-radius: 16px;
    padding: 20px 70px 100px;
    margin: 5.3rem auto;
    position: relative;
    background-color: #ccc;
   
}
/***************************/



form{
    display: flex;
    flex-direction: column;
}

fieldset{
    margin-bottom: 4rem;
    padding-top: 1rem;
    border: none;
    border-top: 1px solid #d9d9d9;
    
}
/****************************************/


legend {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

fieldset#formulario input {
    max-width: 300px;
    display: inline-block;
    
}


/*********************************/

fieldset#formulario label {
    display:inline-block;
    flex-direction:column;
    
}

fieldset#bottom label{
    display:inline-block;
    flex-direction:column;
}


/**************************************/

#formulario input[type="text"], #formulario input[type="number"], input[type="date"], select {
    height: 1.5rem;
    margin: 1rem 3.3rem 1rem 0px;
    display: inline-block;
    font-size: 1.2rem;
}
fieldset#preguntas label {
    display:inline-block;
    flex-direction:column;
    
}
fieldset#preguntas2 label {
    display:inline-block;
    flex-direction:column;
    
}



fieldset#preguntas3 label {
    display:inline-block;
    flex-direction:column;
}

#Gender {
    padding: 2rem 0;
    flex-wrap: wrap;
} 

/******************mapa*******************************/

.left iframe {
    border-radius: 3rem;
    width: 100%;
    min-width: 480px;
}

/********************---------------------*/
.Gender1{
    display: inline-block;
    align-items: end;
    
}



/****************************************/
.Grade1{
    display: inline-block;
    align-items: end;
}
/************************************************/
.Pre-School1{
    display: inline-block;
    align-items: end;
}
/*************************************************/
.closest-school1{
      display: inline-block;
      margin: 10px;
    
    
}
/************************************************/
.Position{
    display: inline-block;
    margin: 10px;
   
}
/*******************************************************/
.Uniform-Size{

    display: inline-block;
    margin: 10px;
    
}
/******************************************************/

legend {
    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;
}
/***************************************************/
h2{
    text-align: center;
    font-size: 40px;
    color: black;
    /*font-weight: bold;*/
}

span{
    font-size: 1rem;
    color: black;
}
/*************************************************/

fieldset#bottom{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}


fieldset#bottom .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*flex-grow: 0;*/
}
.left label{
    margin-bottom: 1rem;
}

fieldset#bottom .left input[type="submit"]{
    padding: 10px;
    width: 100px;
    align-self: center;
    cursor: pointer;
    color: tomato;
    background-color: black;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    
}
/***********************************************/

/* -----------------TABLA--------------------- */

h1 {
    background: #99401d;
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
}
#contenido {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
th {
    background: rgb(233, 77, 5);
    color: white;
    border: 2px solid red;
}
/***************************************/
table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 2px solid rgb(128, 0, 0);
    margin: 10px;
    padding: 10px;
  }
/********************para pc escritorio********************************/
/*media@**************************************************************/
/* el media@ se realizo en el home.html  y los cambio son en el menu, imagenes, texto.
los cambios son para que se vea en el dispotivo pc de escritorio*/
@media only screen and (min-width: 1340px) and (max-width: 1600px){

  h1{
    
    color: lightblue;
    font-size: xx-large;
    display: list-item;
    font-family: math;
    background: darkblue;
  }
  body {
    background-color: #d3ba38e3;
}
a{
  text-decoration: none;
    color: orange;
    padding: 30px 40px 30px 40px;
    box-shadow: 5px 5px chartreuse;
    background-color: black;
    border: 1px solid blue;
    border-radius: 15px;
    position: relative;
    margin-inline: 10px 10px;
    margin-block: 10px 10px;
    display: inline-block;
}
.box_1A {
  
  background-color: #e7d681;
  width: 900px;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  box-shadow: 5px 3px 9px -1px #f50404;
  border: 1px solid rgb(248, 123, 6);
  border-radius: 30px;
}
img {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 20px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  box-shadow: 5px 3px 9px -1px cyan;
}
}



  /***********************para celulares************************/
/*Media queries*/

@media only screen and (min-width: 320px) and (max-width: 767px){
/* el @media se realizara en el home.html  y los cambio son en el menu, imagenes, texto.
los cambios son para que se vea en el dispotivo mobile*/
body{
  background-color: hsl(0, 25%, 94%);
}
header{
    padding: 10px;
   
    

}
h1{
  text-align: left;
  color: red;
  font-size: small;
  display: flex;
  flex-direction: column-reverse;
}
/*****flexbox******/
menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

 
}

/**********************************/
nav {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
   

}
/*******estilo al menu****/

a {
    
  padding: 1px 1px;
  text-decoration: none;
  color: white;
  padding: 1px;
  box-shadow: 5px 5px blueviolet;
  background-color: black;
  border: 1px solid blue;
  border-radius: 15px;
  position: relative;
  margin-inline: 1px 1px;
  margin-block: 1px 1px;
  display: list-item;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: space-around;
    background-color: #ccc;
  
    
   
}
#contenido > div {
    
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    gap: 10px;
  
}

.contenido{
    
  max-width: 200px;
  border: 1px solid;
  border-radius: 16px;
  padding: 10px 10px;
  margin: 30px;
  position: relative;
  left: 0px;
}


img{
  display: block;
  margin: 10px 10px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  box-shadow: 5px 3px 9px -1px #08f372;
  position: relative;
  right: 1px;
}


iframe{

  width: 100%;
    
  display: flex;
  align-items:center;
  margin: 20px 20px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  box-shadow: 5px 3px 9px -1px #f50404;
}
/*********************************************/
/*********************************************/
/********************************************/
.box_1A {
    border: 1px solid grey;
    background-color: #ccc;
    width: 150px;
    position: relative;
    right: -10px;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    text-align: left;
    font-size: 10px;

    
  }
  .box_1A > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1A > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1A > h3{
    color: black;
  }

/**********************************************/


.box_1B {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1B > p{
     font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1B > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1B > h3{
    color: black;
  }

/************************************************/

.box_1C {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1C > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1C > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1C > h3, p{
    color: black;
  }

/*************************************************/

.box_1D {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1D > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1D > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1D > h3{
    color: black;
  }
  /*********************tabla****************************/
  .box_1D > table{
    width: 350px;
    margin: 50px;
    padding: 0px;
    font-size: 10px;
    
  }
  
  .box_1D > table{
    
    border-collapse: collapse;
    
  }

  .box_1D >th,td {
  border: 1px solid #0b2ce6;
  padding: 10px 15px;
}
  
 
.box_1D >th{
    text-align:center;
  }
  .box_1D >tr{
    text-align: left;
  }
 
  .box_1D >h2{
    text-align: center;
  }
/***************************************************/

.box_1E {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    
  }
  .box_1E > p{
    font-size: 12px;
     margin-left: 0%;
     color: black;
  }
  .box_1E > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1E > h3{
    color: black;
    text-align: center;
  }

/*************************************************/
  


.box_2 {
    color: rgb(95, 243, 26);
    /*background-color: chocolate;*/
    flex-basis: 80px;
}


.box_3 {
    color: rgb(230, 10, 101);
    /*background-color: cornflowerblue;*/
    flex-basis: 10px;
}

.box_4 {
    color: rgb(216, 52, 11);
    /*background-color:crimson;*/
    flex-basis: 50px;
    
}
}

/******************************************************/
/***************media@ para dispositivo tables ****************************/

@media only screen and (min-width: 768px) and (max-width: 1023px){
  
/* el @media se realizara en el home.html  y los cambio son en el menu, imagenes, texto.
todos los cambios son para que se vea en el dispotivo table*/
body{
  background-color: hsl(0, 25%, 94%);
}
header{
    padding: 10px;
   
}
h1{text-align: center;
  color: red;
  font-size: x-large;
  display: grid;
}
/*****flexbox******/
menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

 
}

/**********************************/
nav {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
   

}
/*******estilo al menu****/

a {
    
  padding: 0px 0px;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px blueviolet;
  background-color: black;
  border: 1px solid blue;
  border-radius: 15px;
  position: relative;
  margin-inline: 1px 1px;
  margin-block: 1px 1px;
  display: inline-flex;
  margin-left: 0px;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: space-around;
    background-color: #ccc;
  
    
   
}
#contenido > div {
    
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    gap: 10px;
  
}

.contenido{
    
  max-width: 600px;
  border: 1px solid;
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
  margin: 50px 20px 20px 20px;
  position: relative;
  right: 12px;
  flex-direction: unset;
}


img{
  display: block;
  margin: 10px 10px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  box-shadow: 5px 3px 9px -1px #08f372;
  position: relative;
  right: 1px;
}


iframe{

  width: 100%;
    
  display: flex;
  align-items:center;
  margin: 20px 20px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  box-shadow: 5px 3px 9px -1px #f50404;
}
/*********************************************/
/*********************************************/
/********************************************/
.box_1A {
    border: 1px solid grey;
    background-color: #ccc;
    width: 150px;
    position: relative;
    right: -10px;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    text-align: left;
    font-size: 10px;

    
  }
  .box_1A > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1A > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1A > h3{
    color: black;
  }

/**********************************************/


.box_1B {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1B > p{
     font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1B > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1B > h3{
    color: black;
  }

/************************************************/

.box_1C {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1C > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1C > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1C > h3, p{
    color: black;
  }

/*************************************************/

.box_1D {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1D > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1D > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1D > h3{
    color: black;
  }
  /*********************tabla****************************/
  .box_1D > table{
    width: 350px;
    margin: 50px;
    padding: 0px;
    font-size: 10px;
    
  }
  
  .box_1D > table{
    
    border-collapse: collapse;
    
  }

  .box_1D >th,td {
  border: 1px solid #0b2ce6;
  padding: 10px 15px;
}
  
 
.box_1D >th{
    text-align:center;
  }
  .box_1D >tr{
    text-align: left;
  }
 
  .box_1D >h2{
    text-align: center;
  }
/***************************************************/

.box_1E {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    
  }
  .box_1E > p{
    font-size: 12px;
     margin-left: 0%;
     color: black;
  }
  .box_1E > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1E > h3{
    color: black;
    text-align: center;
  }

/*************************************************/
  


.box_2 {
    color: rgb(95, 243, 26);
    /*background-color: chocolate;*/
    flex-basis: 80px;
}


.box_3 {
    color: rgb(230, 10, 101);
    /*background-color: cornflowerblue;*/
    flex-basis: 10px;
}

.box_4 {
    color: rgb(216, 52, 11);
    /*background-color:crimson;*/
    flex-basis: 50px;
    
}
}

/***********************media@ para pc de escritorio***************/
/**** se realizaran cambios en el home.html para el disposito de escritorio***/
@media only screen and (min-width: 1024px) and (max-width: 1339px){
  *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body{
  background-color: hsl(0, 25%, 94%);
}
header{
    padding: 10px;
   
    

}
h1{
  color: yellow;
  font-size: xx-large;
  display: list-item;

}
/*****flexbox******/
menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

 
}

/**********************************/
nav {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
   

}
/*******estilo al menu****/

a {
  text-decoration: none;
  color: #f50404;
  padding: 1px 15px 10px 30px;
  box-shadow: 5px 5px darkorange;
  background-color: black;
  border: 1px solid blue;
  border-radius: 15px;
  position: relative;
  right: 45px;
  margin-inline: 1px 1px;
  margin-block: 20px 0px;
  display: inline-grid;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: space-around;
    background-color: #ccc;
  
    
   
}
#contenido > div {
    
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    gap: 10px;
  
}

.contenido{
  max-width: 700px;
  border: 1px solid beige;
  border-radius: 16px;
  padding: 10px 10px 10px;
  margin: 5.3rem auto;
  position: relative;
  right: 55px;
  direction: rtl;
}


img{
    width: 100%;
    
    display: flex;
    align-items:center;
    margin: 20px 20px;
    border: 1px solid rgb(62, 10, 250);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    box-shadow: 5px 3px 9px -1px #08f372;
}


iframe{

  width: 100%;
    
  display: flex;
  align-items:center;
  margin: 20px 20px;
  border: 1px solid rgb(62, 10, 250);
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  box-shadow: 5px 3px 9px -1px #f50404;
}
/*********************************************/
/*********************************************/
/********************************************/
.box_1A {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;

    
  }
  .box_1A > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1A > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1A > h3{
    color: black;
  }

/**********************************************/


.box_1B {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1B > p{
     font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1B > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1B > h3{
    color: black;
  }

/************************************************/

.box_1C {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1C > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1C > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1C > h3, p{
    color: black;
  }

/*************************************************/

.box_1D {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
  }
  .box_1D > p{
    font-size: small;
     margin-left: 5%;
     color: black;
  }
  .box_1D > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1D > h3{
    color: black;
  }
  /*********************tabla****************************/
  .box_1D > table{
    width: 350px;
    margin: 50px;
    padding: 0px;
    font-size: 10px;
    
  }
  
  .box_1D > table{
    
    border-collapse: collapse;
    
  }

  .box_1D >th,td {
  border: 1px solid #0b2ce6;
  padding: 10px 15px;
}
  
 
.box_1D >th{
    text-align:center;
  }
  .box_1D >tr{
    text-align: left;
  }
 
  .box_1D >h2{
    text-align: center;
  }
/***************************************************/

.box_1E {
    border: 1px solid grey;
    background-color: #ccc;
    width: 520px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 9px -1px #8ce912;
    border: 1px solid rgb(248, 123, 6);
    border-radius: 20px;
    
  }
  .box_1E > p{
    font-size: 12px;
     margin-left: 0%;
     color: black;
  }
  .box_1E > h2{
    font-size: 20px;
    text-align: center;
  }
  .box_1E > h3{
    color: black;
    text-align: center;
  }

/*************************************************/
  


.box_2 {
    color: rgb(95, 243, 26);
    /*background-color: chocolate;*/
    flex-basis: 80px;
}


.box_3 {
    color: rgb(230, 10, 101);
    /*background-color: cornflowerblue;*/
    flex-basis: 10px;
}

.box_4 {
    color: rgb(216, 52, 11);
    /*background-color:crimson;*/
    flex-basis: 50px;
    
}
/****************tabla************************/


  

  /**************************lista****************************/
  .ul, ol ,li {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 12px;
}
 li{
    color: black;
 }
.box_1D >table {
    
    padding: 30px 40px 40px 40px;
         
}

}

